
/* Styling for the footer */
footer{
    background-color: #0A3641;
    color:white;
    padding: 30px 20px;
    height: 318px;
    display: block;
  }
  
  .footer-container{
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
  }
  
  
  .footer-logo{
    width: auto;
    height: 100px;
    display: flex;
    margin-left: 20px;
    margin-top: 100px;
  }


  .contact-us{ 
    margin-top: 33px;
    color: #fff;
    text-decoration: none;
  }
  
  .about-rainydays{ 
    margin-top: 33px;
    color: #fff;
    text-decoration: none;
  }

  .newsletter-container{
    width: 371px;
    height: 100%;
    color:#fff;
  }

  .text-newsletter{
    margin-top: 33px;
  }
  
  input[type="email"]{
    margin-top: 33px;
    height: 46px;
    width: 282px;
    border-radius: 10px;
    background-color: #fff;
    color: #414141;
    padding-left: 10px;
    font-size: 18px;
  }

 .send-button{
    width: 86px;
    height: 46px;
    background-color: #0A3641;
    border: 1px solid #fff;
    border-radius: 10px;
    color:#fff;
    font-size: bold;
    font-size: 20px;
  }
  
/* Styling for social media logos */
.footer-follow-us{
    margin-right: 15px;
  }
  
  
  .bi-instagram{
    width: 60px;
    height: 60px;
    color: #fff;
  }
  
  .bi-facebook{
    width: 60px;
    height: 60px;
    color: #fff;
  }
  
  /* Text under the footer */
  .text-under-footer{
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: flex;;
    margin-top: 350px;
    color: #000;
    background-color: red;
  }
  
  .at-2024{
    padding-top: 10px;
    text-align: left;
  
  }
  
  .cookies-and-terms{
    padding-top: 10px;
    margin-left: 200px;
    text-align: right;
  }