/* Followed this tutorial to create my navigation bar https://www.w3schools.com/howto/howto_js_topnav.asp */

/* This is the background color for the navigation bar */
.top_naviation_bar {
  background-color: FFFFFF;
  overflow: hidden;
}

/* Styling for the links that are inside the navigation bar */
.top_naviation_bar a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* This changes the color while hovering over the links */
.top_naviation_bar a:hover {
  background-color: ddd;
  color: black;
}

/* This adds color to the active link, aka the page that is selected */
.top_naviation_bar a.active {
  background-color: 0A3641;
  color: white;
}

/* This styles the rainydays logo in the navigation bar.
I followed this tutorial https://github.com/creativetimofficial/material-kit/issues/107 */
.rainydays_logo {
  width: 120.71px;
  height: 65px;
  overflow: hidden;
  margin-top: 16px;
}
