/* Import of Robot font-family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Import of Bootstrap icons libary */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Styling for desktop 13-inch/ 2560px width */
@media (max-width: 2560px) {
  /* Styling for all elements */
  * {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* Styling for banner */
  .banner-container {
    margin-top: 152px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner {
    width: 100%;
    height: 397px;
  }

  /* Styling of white logo overlaying the banner */
  .overlay-image-on-banner {
    /* margin-bottom: 160px;
  margin-left: 40%; */
    width: auto;
    height: 120px;
    position: absolute;
    align-items: center;
    margin-top: 62px;
    margin-bottom: 215px;
  }

  /* Styling the text in the banner */
  .banner-text {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 73px;
    margin-top: 256px;
    font-size: 1.563rem;
    width: 619px;
    font-style: bold;
  }

  /* Styling for the product carousel/ slider */
  /* Followed this tutorial: https://www.youtube.com/watch?v=OQZNAMjC6Vg */

  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    /* height: 518.76px; */
  }

  .product-category {
    padding: 0 1vw;
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }

  .product-container {
    padding: 0 8vw;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .product-container::-webkit-scrollbar {
    display: none;
  }

  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    /* border: 1px solid #000;
  padding: 15px; */
  }

  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  .product-jackets {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .add-to-wishlist-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: 1px solid #000;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
  }

  .add-to-wishlist-button:hover {
    background: #0a3641;
    color: #fff;
  }

  .product-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }

  .product-brand {
    text-transform: uppercase;
  }

  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }

  .price {
    font-weight: 900;
    font-size: 1.25rem;
  }

  .previous-button,
  .next-button {
    border: none;
    background: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
  }

  .previous-button {
    left: 0;
  }

  .next-button {
    right: 0;
  }

  .previous-button img,
  .next-button img {
    opacity: 1;
  }

  .previous-button:hover img,
  .next-button:hover img {
    opacity: 0.5;
  }

  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .collection {
    position: relative;
  }

  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 3.125rem;
    text-transform: capitalize;
  }

  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  .space-between-main-and-footer {
    margin-top: 10px;
  }

  /* Styling for contact us page */

  .contact-us-form-container {
    margin-top: 178px;
    margin-left: 198px;
    margin-bottom: 79px;
    width: 878px;
    height: 536px;
    border: 1px #000 solid;
    border-radius: 10px;
    transform: translateX(10%);
  }

  .container-contact-us {
    color: red;
    width: 100%;
    height: 712px;
  }

  .centre-header {
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .contact-us-form {
    margin-left: 23px;
    margin-right: 23px;
    border: 1px #000;
    border-radius: 10;
  }

  .header-in-form {
    font-size: 1.875rem;
  }

  .contactus-description {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .drop-down-container {
    display: flex;
  }

  .topic-drop-down-topic,
  .topic-drop-down-subtopic {
    border: 1px solid;
    border-radius: 10px;
    height: 62px;
    width: 389px;
    font-size: 1.125rem;
    padding: 10px;
  }

  .topic-drop-down-subtopic {
    margin-left: 53px;
  }

  .textfield {
    width: 831px;
    height: 191px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 23px;
    padding: 10px;
    font-size: 1.25rem;
  }

  .contact-us-submit {
    height: 62px;
    width: 223px;
    background-color: #0a3641;
    border: 1px solid #0a3641;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10px;
  }

  .contact-us-submit:hover {
    background-color: #fff;
    color: #0a3641;
  }

  .contact-info-container {
    width: 100%;
    height: 237px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .phone-info,
  .epost-info {
    color: #000;
    margin: 10px;
    padding: 50px;
    line-height: 40px;
    height: 100%;
    width: 640px;
  }

  .phonenumber {
    text-decoration: underline;
  }

  /* Styling for about us page */

  .aboutus-banner {
    width: 100%;
    height: 258px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 79px;
  }

  .about-rainydays-title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    position: absolute;
    width: 619px;
    font-style: bold;
    margin-bottom: 5%;
  }

  .aboutus-text-container {
    margin-left: 198px;
    margin-right: 198px;
    color: #000;
    font-size: 1.375rem;
    margin-bottom: 79px;
  }

  .aboutus-image-container {
    display: flex;
    margin-left: 198px;
    margin-right: 198px;
    justify-content: center;
  }

  .rain-image,
  .hike-image,
  .ski-image {
    width: auto;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 108px;
  }

  .hike-image {
    margin-left: 66px;
    margin-right: 66px;
  }

  .aboutus-logo-container {
    width: 100%;
    margin-bottom: 108px;
    display: flex;
    justify-content: center;
  }

  .aboutus-logo {
    width: 185px;
    height: auto;
  }

  /* Styling of mens, womens and brands pages */

  .mens-header {
    margin-top: 200px;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: center;
  }

  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    /* height: 518.76px; */
  }

  .product-category {
    padding: 0 1vw;
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }

  .product-container {
    padding: 0 8vw;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .product-container::-webkit-scrollbar {
    display: none;
  }

  .product-card-mensandwomens {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }

  .product-image-mensandwomens {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  .product-jackets {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .add-to-wishlist-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: 1px solid #000;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
  }

  .add-to-wishlist-button:hover {
    background: #0a3641;
    color: #fff;
  }

  .product-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }

  .product-brand {
    text-transform: uppercase;
  }

  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }

  .price {
    font-weight: 900;
    font-size: 1.25rem;
  }

  .product-container-1,
  .product-container-2,
  .product-container-3 {
    margin-bottom: 79px;
    width: 88%;
    justify-content: center;
    display: flex;
    margin-top: 74px;
    margin-left: 85px;
    gap: 10%;
  }

  .product-container-4 {
    margin-bottom: 79px;
    width: 88%;
    justify-content: left;
    display: flex;
    margin-top: 74px;
    gap: 10%;
    margin-left: 25%;
  }

  .the-brands {
    margin-top: 74px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 179px;
  }

  .brand-name {
    font-size: 1.875rem;
  }

  /* Styling for favorites page */

  .fav-main-container {
    width: 100%;
    height: 684px;
  }

  .favorites-title-container {
    margin-top: 200px;
    font-size: 1.25rem;
    margin-bottom: 34px;
    margin-left: 60px;
  }

  .jacket3000-container {
    border: 1px solid #000;
    /* width: 234px;
  height: 437px; */
    width: 300px;
    height: auto;
    margin-left: 60px;
    padding: 25px;
  }

  /* Styling for shopping cart page */

  .cart-main-container {
    width: 100%;
    height: 684px;
  }

  .cart-title-container {
    margin-top: 200px;
    font-size: 1.25rem;
    margin-bottom: 34px;
    margin-left: 60px;
  }

  .product-and-description-container {
    display: flex;
  }

  .item-in-cart {
    width: 644px;
    height: 230px;
    margin-left: 60px;
    margin-top: 32px;
    display: flex;
  }

  .jacket-in-cart {
    width: auto;
    height: 230px;
    padding: 10px;
  }

  .cart-text-product-container {
    margin-left: 23px;
    text-decoration: none;
    margin-top: 10px;
  }

  .move-to-favorites {
    margin-top: 30px;
  }

  .bi-exclamation-circle {
    color: #000;
  }

  .not-reserved {
    margin-left: 60px;
    width: 407px;
    display: flex;
    margin-bottom: 20px;
  }

  .not-reserved-text {
    margin-left: 8px;
  }

  .total-container {
    width: 505px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-right: 23px;
    margin-left: 180px;
    margin-top: 32px;
    padding: 15px;
  }

  .sum-box,
  .delivery-box,
  .total-costs-box {
    display: flex;
  }

  .sum-for-products,
  .total-costs {
    margin-left: 400px;
  }

  .delivery-costs-box {
    margin-left: 390px;
  }

  .line {
    height: 1px;
    background-color: #000;
    width: 470px;
  }

  .checkout-button {
    background-color: #0a3641;
    color: #fff;
    height: 62px;
    width: 471px;
    font-size: 1.563rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 70px;
  }

  .checkout-button:hover {
    background-color: #fff;
    color: #0a3641;
    border: 1px solid #000;
  }

  input#discount {
    padding: 10px;
    border-radius: 10px;
    width: 389px;
    height: 62px;
    background-color: #fff;
    color: #414141;
    border: 1px solid #000;
    font-size: 1.25rem;
  }

  input#discount:focus {
    outline: navy;
    border: 1px solid navy;
    background-color: #fff;
  }

  .dicount-code-container {
    margin-top: 26px;
    margin-right: 50px;
    display: flex;
    width: 505;
    justify-content: right;
  }

  .add-button {
    background-color: #0a3641;
    color: #fff;
    height: 62px;
    width: 107px;
    font-size: 1.563rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 9px;
  }

  .add-button:hover {
    background-color: #fff;
    color: #0a3641;
    border: 1px solid #000;
  }

  /* Styling for product page */

  .product-section {
    margin-top: 200px;
    width: 100%;
    margin-bottom: 100px;
    margin-left: 50px;
  }

  .product-image-page {
    padding: 10px;
    width: 518px;
    height: 450px;
  }
  .jacket-product {
    width: auto;
    height: 430px;
  }

  .product-and-text-container {
    width: 1060px;
    height: 450px;
    margin-left: 142px;
    display: flex;
  }

  .jacket3000-price-color {
    width: 542px;
    margin-right: 100px;
    margin-top: 100px;
  }

  .select-size-container {
    background-color: #fff;
    margin-top: 40px;
  }

  .select-size {
    width: 526px;
    height: 62px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.25rem;
  }

  .addtocart-container {
    display: flex;
    margin-top: 20px;
  }

  .addtocart-button {
    background-color: #0a3641;
    color: #fff;
    height: 62px;
    width: 454px;
    font-size: 1.563rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .addtocart-button:hover {
    background-color: #fff;
    color: #0a3641;
    border: 1px solid #000;
  }

  .add-to-favs {
    font-size: 2.5rem;
    width: 62px;
    height: 62px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .product-description-details-container {
    width: 1060px;
    height: 200px;
    border: 1px solid #000;
    margin-left: 130px;
    margin-top: 50px;
    padding: 40px;
  }
}

/* Styling for responsive design mobile */
@media (max-width: 768px) {
  main {
    width: 100%;
    height: auto;
  }

  /* Styling for all elements */
  * {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* Styling for banner */
  .banner-container {
    margin-top: 152px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner {
    width: 100%;
    height: 172px;
  }

  /* Styling of white logo overlaying the banner */
  .overlay-image-on-banner {
    /* margin-bottom: 160px;
  margin-left: 40%; */
    width: auto;
    height: 60px;
    position: absolute;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 100px;
  }

  /* Styling the text in the banner */
  .banner-text {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 33px;
    margin-top: 256px;
    font-size: 0.75rem;
    width: 80%;
    font-weight: bold;
  }

  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    /* height: 518.76px; */
  }

  .product-category {
    padding: 0 1vw;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }

  .product-container {
    padding: 0 8vw;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-left: 5%;
    gap: 20%;
  }

  .product-container::-webkit-scrollbar {
    display: none;
  }

  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    /* border: 1px solid #000;
  padding: 15px; */
  }

  .product-image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .product-jackets {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .add-to-wishlist-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: 1px solid #000;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
  }

  .add-to-wishlist-button:hover {
    background: #0a3641;
    color: #fff;
  }

  .product-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }

  .product-brand {
    text-transform: uppercase;
  }

  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }

  .price {
    font-weight: 900;
    font-size: 1.25rem;
  }

  .previous-button,
  .next-button {
    border: none;
    background: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    margin: 26px;
  }

  .previous-button {
    left: 0;
  }

  .next-button {
    right: 0;
  }

  .previous-button img,
  .next-button img {
    opacity: 1;
  }

  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .collection {
    position: relative;
  }

  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 3.125rem;
    text-transform: capitalize;
  }

  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  .space-between-main-and-footer {
    margin-top: 10px;
  }

  /* Styling for contact us page */
  .contactus-main {
    overflow-x: hidden;
    height: auto;
  }

  .contact-us-form-container {
    margin-top: 180px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    border: none;
    transform: translateX(-46%);
  }

  /* .container-contact-us {
    color: red;
    width: 100%;
    height: 712px;
  } */

  .centre-header {
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 25px;
  }

  .contact-us-form {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px #000;
    border-radius: 10;
    width: 338px;
    height: 601px;
    border: 1px #000 solid;
    border-radius: 10px;
    padding: 10px;
  }

  .header-in-form {
    font-size: 1.875rem;
  }

  .contactus-description {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .drop-down-container {
    display: grid;
  }

  .topic-drop-down-topic {
    border: 1px solid;
    border-radius: 10px;
    height: 62px;
    width: 317px;
    font-size: 1.125rem;
    padding: 10px;
  }

  .topic-drop-down-subtopic {
    border: 1px solid;
    border-radius: 10px;
    height: 62px;
    width: 317px;
    font-size: 1.125rem;
    padding: 10px;
    margin-top: 10px;
    margin-right: 40px;
  }

  .topic-drop-down-subtopic {
    transform: translateX(-17%);
  }

  .textfield {
    width: 317px;
    height: 191px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 23px;
    padding: 10px;
    font-size: 1.25rem;
  }

  .contact-us-submit {
    height: 62px;
    width: 223px;
    background-color: #0a3641;
    border: 1px solid #0a3641;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    justify-content: center;
    margin-left: 15%;
    margin-top: 20px;
  }

  .contact-us-submit:hover {
    background-color: #fff;
    color: #0a3641;
  }

  .contact-info-container {
    width: 100%;
    height: 477px;
    background-color: #f2f2f2;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .phone-info,
  .epost-info {
    color: #000;
    margin: 10px;
    padding: 50px;
    line-height: 40px;
    height: 100%;
    width: 640px;
  }

  .phonenumber {
    text-decoration: underline;
  }

  /* Styling for about us page */
  .about-us-section {
    width: 100vw;
    overflow-x: hidden;
  }

  .aboutus-banner {
    width: 100vw;
    height: 171px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 79px;
  }

  .about-rainydays-title {
    font-size: 1.875rem;
    text-align: center;
    color: white;
    position: absolute;
    /* width: 619px; */
    font-style: bold;
    margin-bottom: 20%;
  }

  .aboutus-text-container {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    font-size: 1.375rem;
    margin-bottom: 79px;
  }

  .aboutus-image-container {
    display: flexbox;
    margin-left: 220px;
    justify-content: center;
    margin-bottom: 180px;
  }

  .rain-image {
    width: auto;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 108px;
    margin-left: 20px;
  }
  .hike-image {
    width: auto;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 108px;
    margin-left: 10px;
  }

  .ski-image {
    position: absolute;
    width: auto;
    height: 190px;
    margin-top: 140px;
    right: 0;
    margin-right: 50px;
  }

  .aboutus-logo-container {
    width: 100%;
    margin-bottom: 108px;
    display: flex;
    justify-content: center;
  }

  .aboutus-logo {
    width: 185px;
    height: auto;
  }

  /* Styling of mens, womens and brands pages */

  .mens-header {
    margin-top: 170px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .section-mensandwomens {
    width: 100%;
    overflow-x: hidden;
  }

  .product-card-mensandwomens {
    flex: 0 0 auto;
    width: 155px;
    height: 217px;
    margin-right: 10px;
    border: 1px solid #000;
    padding: 10px;
  }

  .product-image-mensandwomens {
    position: relative;
    width: auto;
    height: 130px;
    overflow: hidden;
    margin-top: 8px;
  }

  .product-jackets {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .add-to-wishlist-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: 1px solid #000;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
  }

  .add-to-wishlist-button:hover {
    background: #0a3641;
    color: #fff;
  }

  .product-info-mensandwomens {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }

  .product-brand-mensandwomens {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .price-mensandwomens {
    font-weight: 900;
    font-size: 0.8rem;
  }

  .product-container-1,
  .product-container-2,
  .product-container-3 {
    margin-bottom: 79px;
    width: 100%;
    margin: 10px;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    gap: 1%;
  }

  .product-container-4 {
    margin-bottom: 85px;
    width: 100%;
    margin: 10px;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    gap: 1%;
  }

  .the-brands {
    margin-top: 74px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 179px;
  }

  .brand-name {
    font-size: 1.25rem;
  }

  /* Styling for favorites page */

  .fav-main-container {
    width: 100%;
    height: 684px;
  }

  .favorites-title-container {
    margin-top: 200px;
    font-size: 1.25rem;
    margin-bottom: 34px;
    margin-left: 60px;
  }

  .jacket3000-container {
    border: 1px solid #000;
    /* width: 234px;
  height: 437px; */
    width: 300px;
    height: auto;
    margin-left: 60px;
    padding: 25px;
  }

  /* Styling for shopping cart page */

  .cart-main-container {
    width: 100%;
    height: 684px;
  }

  .cart-title-container {
    margin-top: 200px;
    font-size: 1.25rem;
    margin-bottom: 34px;
    margin-left: 60px;
  }

  .product-and-description-container {
    display: flex;
  }

  .item-in-cart {
    width: 644px;
    height: 230px;
    margin-left: 60px;
    margin-top: 32px;
    display: flex;
  }

  .jacket-in-cart {
    width: auto;
    height: 230px;
    padding: 10px;
  }

  .cart-text-product-container {
    margin-left: 23px;
    text-decoration: none;
    margin-top: 10px;
  }

  .move-to-favorites {
    margin-top: 30px;
  }

  .bi-exclamation-circle {
    color: #000;
  }

  .not-reserved {
    margin-left: 60px;
    width: 407px;
    display: flex;
    margin-bottom: 20px;
  }

  .not-reserved-text {
    margin-left: 8px;
  }

  .total-container {
    width: 505px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-right: 23px;
    margin-left: 180px;
    margin-top: 32px;
    padding: 15px;
  }

  .sum-box,
  .delivery-box,
  .total-costs-box {
    display: flex;
  }

  .sum-for-products,
  .total-costs {
    margin-left: 400px;
  }

  .delivery-costs-box {
    margin-left: 390px;
  }

  .line {
    height: 1px;
    background-color: #000;
    width: 470px;
  }

  .checkout-button {
    background-color: #0a3641;
    color: #fff;
    height: 62px;
    width: 471px;
    font-size: 1.563rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 70px;
  }

  .checkout-button:hover {
    background-color: #fff;
    color: #0a3641;
    border: 1px solid #000;
  }

  input#discount {
    padding: 10px;
    border-radius: 10px;
    width: 389px;
    height: 62px;
    background-color: #fff;
    color: #414141;
    border: 1px solid #000;
    font-size: 1.25rem;
  }

  input#discount:focus {
    outline: navy;
    border: 1px solid navy;
    background-color: #fff;
  }

  .dicount-code-container {
    margin-top: 26px;
    margin-right: 50px;
    display: flex;
    width: 505;
    justify-content: right;
  }

  .add-button {
    background-color: #0a3641;
    color: #fff;
    height: 62px;
    width: 107px;
    font-size: 1.563rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 9px;
  }

  .add-button:hover {
    background-color: #fff;
    color: #0a3641;
    border: 1px solid #000;
  }

  /* Styling for product page */

  .product-section {
    margin-top: 200px;
    width: 100%;
    margin-bottom: 100px;
    overflow-x: hidden;
    transform: translateX(-12%);
  }

  .product-image-page {
    width: 245px;
    height: auto;
    transform: translateX(-50%);
  }

  .jacket-product {
    width: auto;
    height: 430px;
  }

  .product-and-text-container {
    width: 100%;
    height: 450px;
    display: grid;
    margin-bottom: 450px;
  }

  .jacket3000-price-color {
    width: 542px;
    margin-right: 100px;
    margin-top: 100px;
    display: grid;
    transform: translateX(-20%);
  }

  .select-size-container {
    background-color: #fff;
    margin-top: 40px;
  }

  .select-size {
    width: 317px;
    height: 62px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.25rem;
  }

  .addtocart-container {
    display: flex;
    margin-top: 20px;
  }

  .addtocart-button {
    background-color: #0a3641;
    color: #fff;
    height: 62px;
    width: 240px;
    font-size: 1.563rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .addtocart-button:hover {
    background-color: #fff;
    color: #0a3641;
    border: 1px solid #000;
  }

  .add-to-favs {
    font-size: 40px;
    width: 62px;
    height: 62px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
    justify-content: center;
    padding-left: 15px;
    padding-bottom: 30px;
  }

  .product-description-details-container {
    width: 317px;
    height: 257px;
    border: 1px solid #000;
    margin-left: 145px;
    margin-top: 50px;
    padding: 40px;
    transform: translateX(-35%);
  }
}
